{{ if site.Params.contact.enable }}
<!-- contact -->
<section class="section section-on-footer section-contact" data-background="{{`images/backgrounds/bg-dots.png` | absURL}}" id="contactForm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- social icon -->
        <div class="container social-icons-container">
          <ul class="list-unstyled mt-3 position-relative zindex-1 text-center">
            {{ range site.Params.social }}
            <li class="mb-3"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <!-- /social icon -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-12 p-3">
        <div class="card active-bg-primary">
          <div class="card-body text-center px-4 py-5">
            
            <a href="tel:0220193344">
              <h4>👋 Call me</h3>
              022 0193344</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-12 p-3 d-none d-sm-block">
        <div class="card active-bg-primary">
          <div class="card-body text-center px-4 py-5">            
            <a href="mailto:spektor.helen@gmail.com">
              <h4>📧 Email</h3>
              spektor.helen@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Get a free quote:</h3>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form name="contact" class="row" netlify>
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
{{ end }}

<!-- footer -->
<footer class="bg-dark footer-section" >
  <div class="section pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5 class="text-light">Useful links:</h5>
        </div>
      </div>
      <div class="row links-container pb-3">
              <div class="col-md-4">
                <ul class="pl-0">
                  <li><a href="#">Graphic designer in Tauranga</a></li>
                  <li><a href="#">Graphic designer in Auckland</a></li>
                  <li><a href="#">Graphic designer in Wellington</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="pl-0">
                  <li><a href="#">Graphic designer in Tauranga</a></li>
                  <li><a href="#">Graphic designer in Auckland</a></li>
                  <li><a href="#">Graphic designer in Wellington</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="pl-0">
                  <li><a href="#">Graphic designer in Tauranga</a></li>
                  <li><a href="#">Graphic designer in Auckland</a></li>
                  <li><a href="#">Graphic designer in Wellington</a></li>
                </ul>
              </div>      
      </div>
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">{{site.Params.email}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">{{site.Params.phone}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">{{site.Params.address}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{ site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}" defer></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}" defer></script>


<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-primary ml-2">I Accept</span>
</div>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}