{{ define "main" }}


  {{- partial "heroAnimationSvg.html" . -}}

  <!-- hero area -->
  <section class="hero-area bg-primary overflow-hidden" id="heroAreaSection" id="heroAreaSection" data-background="{{`images/backgrounds/bg-dots.png` | absURL}}">
    <canvas class="scene scene--full" id="scene"></canvas>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary">{{ site.Data.homepage.banner.title | safeHTML }}</h1>
          <div class="p-1">
            <a href="#contactForm" class="btn btn-primary btn-cta border mt-4 pt-1 pb-1">Contact</a>
            <!-- <a href="#servicesSection" class="btn btn-primary border mt-4 pt-1 pb-1">Read More</a> -->
          </div>
        </div>
        
      </div>
    </div>
    <div class="layer" id="l4">
      <img src="{{`images/illustrations/dots-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-3">            
    </div>

    <div class="layer" id="l9">
      <img src="{{`images/backgrounds/bg-dots.png`| relURL}}" alt="illustrations" class="bg-shape-3">            
    </div>

    <div class="layer" id="l7">
      <img src="{{`images/illustrations/dots-group-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-3">            
    </div>    
  </section>
  <!-- /hero area -->

  <!-- about -->
<!-- <section class="section author-section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ with site.Data.homepage.about }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{end}}
        {{ end }}
      </div>
      {{ with site.Data.homepage.author }}
      <div class="col-md-4 text-center">
        <div class="shadow-down mb-4">
          <img src="{{ .author_image | absURL }}" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="{{ .author_signature | absURL }}" alt="signature" class="img-fluid">
        <h4>{{ site.Params.Author }}</h4>
      </div>
      {{ end }}
    </div>
  </div>
</section> -->
<!-- /about -->


  {{ if site.Data.homepage.about.enable }}
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          {{ with site.Data.homepage.about }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ with site.Data.homepage.author }}
          <img src="{{ .author_image | absURL }}" alt="author"
          class="img-fluid rounded-lg border-thick border-white float-left">
          {{end}}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}

  {{- partial "blocks/services.html" . -}}

  {{- partial "blocks/skills.html" . -}}
  
  {{- partial "blocks/experience.html" . -}}

  {{- partial "blocks/education.html" . -}}

  {{- partial "blocks/portfolio.html" . -}}

  {{- partial "blocks/testimonials.html" . -}}

  {{ if site.Data.homepage.blog.enable }}
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{site.Data.homepage.blog.title | markdownify }}</h2>
        </div>
        {{ range first 3 (where .Site.RegularPages "Section" "blog")}}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}


{{ end }}
