


  {{ if site.Data.homepage.portfolio.enable }}
  <!-- portfolio -->
  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ site.Data.homepage.portfolio.title | markdownify }}</h2>
        </div>
      </div>
      <div class="row shuffle-wrapper">
        {{ $item:= site.Data.homepage.portfolio.item_show }}
        {{ range first $item (where .Site.RegularPages "Section" "portfolio") }}
        <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{.Params.image | absURL }}?nf_resize=fit&w=300" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-light btn-sm" href="{{ .Permalink | safeURL }}">view project</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /portfolio -->
  {{ end }}